//Colors
//Primary
$brightBlue: hsl(220, 98%, 61%);
$checkBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
//Light Theme
$veryLightGray: hsl(0, 0%, 98%);
$veryLightGrayishBlue: hsl(236, 33%, 92%);
$lightGrayishBlue: hsl(233, 11%, 84%);
$darkGrayishBlue: hsl(236, 9%, 61%);
$veryDarkGrayishBlue: hsl(235, 19%, 35%);

//DarkTheme
$veryDarkBlue: hsl(235, 21%, 11%);
$veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$lightGrayishBlue: hsl(234, 39%, 85%);
$lightGrayishBlue: hsl(236, 33%, 92%); //hover
$darkGrayishBlue: hsl(234, 11%, 52%);
$veryDarkGrayishBlue: hsl(233, 14%, 35%);
$veryDarkGrayishBlue: hsl(237, 14%, 26%);

.flex{
  display: flex;
  &-jc-c{
    justify-content: center;
  }

  &-jc-sb{
    justify-content: space-between;
  }

  &-ai-c{
    align-items: center;
  }
}
img{
  display: block;
  width: 100%;
}

ul{
  list-style-type: none;
  li{
    padding: 20px 0 20px 25px;
    border-bottom: 1px solid $veryLightGrayishBlue;
    &:first-child{
      border-radius: 5px 5px 0 0;
    }
    &:hover{
      #crossContainer{
        display: block;
      }
    }
  }
}

.wrapper{
  width: 37%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.lightInput{
  background-color: white;
  color: $darkGrayishBlue;
}
.lightLi{
  background-color: white;
  color: $veryDarkGrayishBlue;
}
#main{
  margin-top: -225px;
}
#title{
  letter-spacing: 10px;
  color: white;
}
#iconContainer{
  width: 27px;
}

#inputContainer{
  margin-top: 45px;
  margin-bottom: 25px;
  input{
    width: 100%;
    padding: 25px 0 25px 60px;
    border: 0;
    border-radius: 5px;
  }
}

#todoContainer{
  border:1px solid white;

}

.checkContainer{
  width: 17px;
  height: 17px;
  border-radius: 50%;
}
.textContainer{
  width: 90%;
  padding-left: 25px;
  cursor: pointer;
}

#checkContainerActive{
  border: 1px solid $veryLightGrayishBlue;
}
#checkContainerInactive{
  background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}


#textContainerInactive{
  text-decoration: line-through;
  color: $darkGrayishBlue;
}

#crossContainer{
  display: none;
  cursor: pointer;
}
